vp-4-rtf/src/main/mule/vp-4-rtf.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d68a5314-bc51-4327-bb27-f35487819aab" >
		<http:listener-connection host="${http.host}" port="${http.port}" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c7b2b3a0-01a6-4e3d-a59d-3e389022433c" >
		<http:request-connection protocol="HTTPS" host="www.google.com" port="443"/>
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="2dbb6db0-111b-4b3c-9f20-31ae37da37ca" file="app-${env}.yaml" />
	<flow name="vp-4-rtfFlow" doc:id="d512c040-c4d0-480d-9034-e31184a2fbe7" >
		<http:listener doc:name="Listener" doc:id="98a6d79e-eaf5-4733-8bf6-c960b857e1a9" config-ref="HTTP_Listener_config" path="/rtf"/>
		<logger level="INFO" doc:name="Logger" doc:id="0de39172-d461-4e7e-a1cd-40e3d1300f25" message="I am here SSL"/>
		<http:request method="GET" doc:name="Request" doc:id="e018b45e-ada4-48b0-97b4-98bbc137b705" config-ref="HTTP_Request_configuration" path="/a">
			<http:headers ><![CDATA[#[output application/java
---
{
	"abc" : "xyz"
}]]]></http:headers>
			</http:request>
		<set-payload doc:name="Set Payload" doc:id="8c5f2be3-ec0a-421c-9bb5-d1ace058f1e2" value="#[p('message')]"/>
	</flow>
</mule>
